:root {
  --v-driver-primary: #247283;
  --v-driver-primary-light: #9b824f26;
  --v-driver-primary-dark: #221D75;
  --v-driver-dark: rgba(0, 0, 0, 0.67);
  --v-driver-gray: rgba(255, 255, 255, 0.723);
  --v-driver-primary-gradient: linear-gradient(101.12deg, #247283 52.16%, rgba(155, 130, 79, 0) 100.97%);;
}

.v-driver-primary {
  color: var(--v-driver-primary-dark) !important;
}

.v-driver-primary-dark {
  color: var(--v-driver-primary-dark) !important;
}

.v-driver-dark {
  color: var(--v-driver-dark) !important;
}

.v-driver-gray {
  color: var(--v-driver-gray) !important;
}

.v-driver-primary-gradient {
  color: var(--v-driver-primary-gradient) !important;
}

.v-driver-bg-primary {
  background: var(--v-driver-primary) !important;
}

.v-driver-bg-primary-dark {
  background: var(--v-driver-primary-dark) !important;
}

.v-driver-bg-dark {
  background: var(--v-driver-dark) !important;
}

.v-driver-bg-gray {
  background: var(--v-driver-gray) !important;
}

.v-driver-bg-primary-gradient {
  background: var(--v-driver-primary-gradient) !important;
}
