form .form-control:focus {
    border-color: var(--v-driver-primary);
    box-shadow: none;
  }

  form .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 1px 4px;
  }

  form .search input:focus{
    outline: none;
  }
  
  form .search input{
    border: 0px solid white;
  }
  
  form .search button{
    border: 0px solid white;
    background: white;
  }


  .pagination {
    --bs-pagination-active-bg: var(--v-driver-primary) ;
    --bs-pagination-active-border-color: var(--v-driver-primary);
}